* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.heroImage {
  /* background-color: lightblue; */
  background-image: url("https://media.istockphoto.com/photos/blue-ocean-view-panorama-picture-id186840575?k=20&m=186840575&s=612x612&w=0&h=zu5EiWJQEteyPbxp0jwYtF6g3q2sSzVgBP6zKr33zX4=");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 200px;
}

.portfolioHead {
  color: black;
  text-align: center;
  font-size: 100px;
  opacity: 0.7;
  padding: 10px;
}

/* Navigation bar */

ul {
  text-align: center;
}

li {
  color: #000000;
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;

  display: inline-block;

  padding: 16px;
  margin: auto;
  text-align: center !important;
}

nav li:hover {
  background-color: rgb(56, 97, 230);
}

/* body */

body {
  padding: 0;
}

/* home Container */
.homeContainer {
  background-color: #03658c;
  padding: 50px;
  display: inline-block;
}

.meContainer {
  background-color: #2366be;
  /* margin: 0px 20px; */
  padding: 50px;
  display: inline-block;
}

.skillContainer {
  background-color: #4a80c7;
  /* margin: 0px 20px; */
  padding: 50px;
  display: inline-block;
}

/* Left */

.leftImage {
  width: 200px;
  background-repeat: no-repeat;
  display: inline;
  float: left;
  margin-right: 25px;
}

.leftTitle {
  font-size: 50px;
  background-color: #023e8a;
  width: 160px;
  height: 60px;
  text-align: center;
  transform: rotate(17deg);
  margin-left: 220px;
  margin-top: ;
  border: 1px solid black;
}

p.leftContent {
  margin-top: 25px;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
  line-height: 1.5;
}

/* Right */
.rightImage {
  width: 200px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  display: inline;
  float: right;
  margin-left: 25px;
}

.rightTitle {
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: inline;
  text-align: right;
}

p.rightContent {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
  line-height: 1.5;
}

/* Contact CSS*/

.containerImg {
  height: 200px;
  max-width: 100%;
  background-color: rgb(104, 182, 255);
}

.img {
  max-width: 100%;
  height: 100%;
  background-image: url("images/csBackImg.png");
  background-repeat: no-repeat;
}

.msg1 {
  font-size: 75px;
  background-color: rgb(41, 72, 247);
  width: 300px;
  height: 100px;
  text-align: center;
  transform: rotate(-20deg);
  margin-left: 150px;
  border: 1px solid black;
}

.msg2 {
  font-size: 75px;
  background-color: rgb(72, 156, 252);
  width: 125px;
  height: 100px;
  text-align: center;
  transform: rotate(25deg);
  margin-left: 300px;
  border: 1px solid black;
}

/* ====================================================================== */

.contactDetails {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: -60px;
  border-top: -60px;
  border-right: -60px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(72, 156, 252);
}

.contactDetailsBox {
  background-color: rgb(40, 131, 236);
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 60px;
  border: 3px dotted hsl(221, 93%, 37%);
}

.meow,
.cantMeow,
.contact {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.socialMediaContact {
  margin-bottom: 18px;
}

/* .cantMeow {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
} */

.contactUsForm {
  margin-bottom: 18px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.textCommentBox {
  /* text-align: center; */
  /* margin: 0 500px 500px 0px */
  /* margin-left: 500px; */

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* The below footer */
.footer {
  border-top: 2px solid black;
  background-color: rgb(111, 170, 247);
  width: 100%;
  height: 150px;
}

.messageBox {
  text-align: center;
  padding: 15px;

  margin: auto;
  margin-top: 50px;

  border-bottom: 4px solid rgb(37, 19, 138);

  border-radius: 20px 20px 20px 20px;
  background-color: rgb(41, 72, 247);

  width: 30%;
}

.coded {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
